/* 上方導覽列 */
.active-top .active-content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .active-top .active-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.active-data {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;
}

.data {
    display: flex;
    flex-direction: column;
    text-align: start;
    position: relative;
}

.data .data-tip {
    font-size: 12px;
    margin-left: 1rem;
    /* text-wrap: nowrap; */
    color: #999;
}

.data-price {
    font-size: 24px;
    padding: 0 1rem;
}

.active-top-button-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    text-align: end;
}

/* 中間質押與回饋區 */
.order-card {
    height: 100%;
}

.no-order {
    margin: 0 auto;
}

.order-preview-header {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2.5rem;
}

.order-preview-list {
    background-color: #fff;
    color: #000;
    max-height: 240px; 
    overflow-y: auto;
    margin: 0;
    padding: 0.5rem;
    list-style: none;
    border: 2px solid #555;
    border-radius: 6px;
}

.order-items {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 16px;
    padding: 0.2rem 0;
    border-bottom: 1px solid #eee;
    height: 100%;
    color: #555;
    position: relative;
}

.order-item {
    text-align: start;
    height: 100%;
}

.order-id {
    font-size: 10px;
}

.order-price span {
    font-weight: 600;
}

.order-time {
    display: flex;
    gap: 1rem;
}

.order-date {
    font-size: 12px;
    margin: 0;
}

.order-items:last-child {
    border-bottom: none;
}

.order-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
}

.order-info p {
    position: absolute;
    top: 0;
    right: 0;
}


/* 表頭 */
.feedback-table-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 16px;
    color: #666;
    padding: 6px 4px;
    border-bottom: 1px solid #ddd;
}

/* 列表 */
.feedback-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 單列 */
.feedback-list li {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 10px 4px;
    font-size: clamp(10px, 1vw, 16px);
}

.feedback-list li:last-child {
    border-bottom: none;
}

/* 日期 */
.feedback-list li span:first-child {
    color: #888;
    font-size: 12px;
}

/* 數量 */
.feedback-list li div {
    margin: 0 auto;
    width: max-content;
    display: flex;
    justify-content: center;
    gap: 2px;
    font-weight: 600;
    color: #16a34a;
}

.feedback-state {
    font-size: 12px;
}

.feedback-price span {
    font-size: 16px;
    text-align: center;
}

/* 按鈕 */
.feedback-btn,
.check-invite-grown {
    margin-top: 12px;
    text-align: right;
}

.feedback-btn button,
.check-invite-grown a {
    background: none;
    border: none;
    font-size: 16px;
    color: #16a34a;
    cursor: pointer;
    box-shadow: none;
}

.feedback-btn button:hover,
.check-invite-grown a:hover {
    text-decoration: underline;
    text-shadow: 0 0 8px 10px #16a34a;
    color: #16a34a;
}

.form-control {
    border-radius: 20px 0 0 20px;
}

/* 底部VIP區域 */
.d-none {
    display: none;
}

.referral-card {
    margin: 0 auto;
    width: 70%;
}

.text-muted {
    font-size: 14px;
}


@media (max-width: 600px) {
    .referral-card {
        width: 100%;
    }
    .invite-link {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .form-control {
        border-radius: 0;
        width: 100% !important;
        background: transparent !important;
        text-align: center;
        border: none;
        color: #fff;
    }
    .copy-btn-dashboard {
        border-radius: 20px !important;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .order-time {
        display: flex;
        flex-direction: column;
        gap: 0;
        font-size: 10px;
    }
}



