.mid-item {
    background: linear-gradient(110deg, #e2e2e2 0%, #9e9d9d 95%);
    border: 2px solid #e2e2e2;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    text-align: center;
}

tr:hover {
    color: #fff !important;
}

.faq-link {
    font-size: 14px;
    color: #01bd6b;
}

.faq-link:hover {
    color: #01bd6b;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .bottom-card {
        width: 100%;
        margin: 0 auto;
    }

    .copy-btn-growth-center {
        border-radius: 20px !important;
        margin: auto;
    }
    
}